.container {
    width: auto;
    height: auto;
    font-size: 20px;
}

.container_menu {
    padding: 10px;
}

.menu_categories {
    margin: 5px;
}

.filtered_products {
    width: 50%;
    float: left;
    height: 550px;
    overflow-y: auto;
    text-align: center;
}

.product_menu_button {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
}

.filtered_products_result {
    margin:15px;
    float: right;
    width: 48%;
}

.selected_item {
    width: 550px;
    height:450px;
    overflow-y: auto;
}

.coupon {
    color: darkcyan;
    margin: 10px;
    width: 200px;
}

.selected_item_card {
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
    color: darkcyan;
    border-style: solid;
}

.pay_button {
    float: right;
}

.selected_item_title, .option_title {
    color: #000000;
}

.total_price {
    top: 50%;
    left: 57%;
}

.apply_discount {
    margin: 10px;
    padding: 3px;
    color: darkslategrey;
}


.remove {
    float: right;
    background-color: bisque;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
}

.paper {
    text-align: center;
}

.paper_title {
    color: darkcyan;
}

.paper_content {
    border: 1px solid darkcyan;
    margin: 15px;
    padding: 5px;
    border-radius: 25px;
}

.apply_discount {
    color: black;
    font-weight: 700;
}

.total_price {
    border: 1px solid darkslategrey;
    font-weight: 500;
    padding: 5px;
    margin: 10px;
}

.total_price_popup {
    margin:10px;
    top: 50%;
    left: 65%;
}

.printed {
    padding: 10px;
    margin: 15px;
    left: 33%;
}

.modal_content {
    margin-right: 150px;
    background-color: #ffffff;
    overflow-y: auto;
    padding: 20px;
    border-radius: 25px;
    width: 400px;
    height: 400px;
}

.modal_content::-webkit-scrollbar {
    width: 0;
    background: transparent;
}

.close {
    float: right;
    font-size: 1.5rem;
    cursor: pointer;
}

@media (max-width: 768px) {
    .container {
        font-size: 16px;
    }

    .container_menu {
        float: none;
        text-align: center;
    }

    .filtered_products {
        width: 420px;
        height: 350px;
    }

    .filtered_products_result {
        width: 415px;
    }

    .product_menu_button {
        width: 150px;
        height: 150px;
        font-size: 20px;
    }

    .selected_item {
        margin: 35px;
        height:400px;
        width: max-content;
        overflow-y: auto;
    }

    .modal_content {
        margin-left: 60px;
        width: 300px;
        height: 300px;
    }

    .selected_item_card {
        width: 75%;
        padding: 10px;
        margin:5px;
        border-radius: 20px;
        color: darkcyan;
        border-style: solid;
    }

    .total_price {
        top: 50%;
        left: 50%;
        padding: 5px;
        margin: 10px;
    }

    .total_price_popup {
        top: 50%;
        left: 35%;
    }

    .remove {
        width: 100px;
    }

}


